@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html {
  font-family: "Outfit", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 0.17fr 0.83fr;
  grid-template-rows: 1fr 0.05fr;
  grid-template-areas:
    "nav main"
    "nav footer";
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background: #1d3557;
}

nav {
  background: #1d3557;
  grid-area: nav;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  padding: 3rem 1px;
  gap: 2em;
}

nav .logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

nav .logo img {
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 100%;
}

nav #admin-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: max-content;
}

nav #admin-profile img {
  width: 80px;
  height: 80px;
  background: #000;
  border-radius: 100%;
}

#navigation ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

#navigation ul li {
  list-style: none;
}

#navigation ul li a,
.logout a {
  text-decoration: none;
  padding: 9px 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  position: relative;
  padding: 5px 10px;
}

.logout {
  display: flex;
  width: 65%;
  justify-content: flex-end;
}

.logout a {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  align-items: center;
}

#navigation ul li a::after,
.logout a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #006dda;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#navigation ul li a:hover::after,
.logout a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#navigation ul li a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-areas: "main catalog";
  gap: 35px;
}

button{
  font-family: 'Outfit', sans-serif;
  font-size: 1.01rem;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

button[type="submit"]{
  background-color: #0011ff;
  color: white;
}

table{
    width: 100%;
}

table thead {
  background-image: linear-gradient(to bottom, #cfe6ff, #cfe6ff9c, #cfe6ff3d);
  border: none;
}

table thead tr {
  text-align: left;
}

table thead tr th {
  padding: 10px;
  color: #004080;
}

table {
  border-spacing: 0;
}

table tbody tr td {
  padding: 10px;
  font-weight: 400;
  padding-left: 15px;
}

#main-section {
  grid-area: main;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 880px;
  box-sizing: border-box;
}

#trainerMgt {
  display: none;
}

#trainerMgt.active {
  display: flex;
  width: 96%;
  height: 100%;
  margin: 20px;
  flex-direction: column;
}

#trainerMgt .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

#trainerMgt .container #popupForm .buttons button[type='button']{
  background-color: red;
  color: white;
}

#trainerMgt .container #popupForm{
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
}


#popupForm label, 
#popupForm input, 
#popupForm select {
  flex: 1 1 45%;
  min-width: 200px;
}

#traineeMgt {
  display: none;
}
#traineeMgt.active {
  display: flex;
  flex-direction: column;
  width: 96%;
  height: 100%;
  margin: 20px;
}

#traineeMgt .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

#traineeMgt .container #popupStudentForm .buttons button[type='button']{
  background-color: red;
  color: white;
}

#traineeMgt .container #popupStudentForm{
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
}


#popupStudentForm label, 
#popupStudentForm input, 
#popupStudentForm select {
  flex: 1 1 45%;
  min-width: 200px;
}

#postUpdate {
  display: none;
}
#postUpdate.active {
  display: flex;
  width: 96%;
  height: 100%;
  margin: 20px;
}

#postUpdate .container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#courseMgt {
  display: none;
}
#courseMgt.active {
  display: flex;
  width: 100%;
  height: 100%;
}

#courseMgt .container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

#profile {
  display: none;
}
#profile.active {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 15px;
}

#profile .container{
  display: flex;
  width: 90%;
  height: max-content;
  justify-content: center;
  align-items: center;
}

#profile .container .profile-image{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

#profile .container .profile-image img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #000;
  object-fit: cover;
}

#profile .container .profile-image label{
  background-color: #0011ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  top: 160px;
  left: 140px;
}

#profile .container .profile-image input{
  display: none;
}

#profile .container .capsule{
  display: flex;
  gap: 150px;
  align-items: center;
}

#profile .container .capsule .details,
#profile .container .capsule .details-edit{
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 5px;
}


#profile .container .capsule .details input,
#profile .container .capsule .details-edit input{
  border: #0011ff 1px solid;
  height: 30px;
  border-radius: 20px;
  padding-left: 15px;
  font-size: 1.1rem;
  font-family: 'Outfit', sans-serif;
}

#profile .container .capsule .details textarea,
#profile .container .capsule .details-edit textarea{
  border: #0011ff 1px solid;
  height: 30px;
  border-radius: 20px;
  padding-left: 15px;
  font-size: 1.1rem;
  font-family: 'Outfit', sans-serif;
}

#profile .container .capsule .details button,
#profile .container .capsule .details-edit button{
  width: max-content;
  height: max-content;
  border: #0011ff 0.5px solid;
  border-radius: 20px;
  padding: 10px;
  background-color: #006aff;
  font-family: 'Outfit', sans-serif;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
}

footer {
  background: #1d3557;
  color: #fff;
  grid-area: footer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#catalog {
  grid-area: catalog;
  display: flex;
  width: 90%;
  padding-left: 20px;
  position: relative;
  flex-direction: column;
  gap: 10px;
}