@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html {
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: max-content;
  padding: 1rem 0.5rem;
  background: #06acff;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

#logo .text-logo {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#logo .text-logo h1 {
  margin: 0;
  padding: 5px 10px;
  font-family: "Knewave", system-ui;
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 0.3rem;
}

#logo .text-logo h1 strong {
  font-family: "Eagle Lake", serif;
  font-size: 1rem;
  font-weight: 100;
}

#logo img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background: #000;
}

#account-popup {
  display: flex;
}

#nav-list {
  width: 60%;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
}

#nav-list ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
}

#nav-list ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  padding: 1.1rem;
  border-radius: 120px;
  transition: all ease 0.5s;
  position: relative;
}
#nav-list ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff9102;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#nav-list ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.dropdown {
  width: 15%;
  margin-right: 1.9rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dropdown button {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: #fff;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.dropdown button:hover {
  background-color: #bdbdbd;
}

#dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a .content {
  position: absolute;
  text-decoration: none;
  color: #ff9102;
  display: none;
  position: absolute;
  width: 300px;
  transition: 0.5s ease;
}

a .content.show {
  display: block;
}
.content li {
  display: flex;
  border-radius: 5px;
  background: #1c4c648a;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.5s ease;
}

.content li:hover {
  background: #025883;
}

/* MAIN CONTENT STYLES */

main {
  position: relative;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

#home .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home .desc h1 {
  color: #ff9102;
  font-size: 2rem;
}

#home .desc p {
  font-size: 1.5rem;
}

#home .mv {
  display: flex;
  width: 75vw;
}

#home .mv .mission,
#home .mv .vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

#home .mv .mission h1,
#home .mv .vision h1 {
  font-size: 2rem;
  color: #ff9102;
}

#home .mv .mission p,
#home .mv .vision p {
  font-size: 1.5rem;
}

#about h1 {
  text-align: center;
  font-size: 2rem;
  color: #ff9102;
}

#about h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  padding: 2rem;
  height: 25vh;
}

#courses {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#courses h1 {
  color: #ff9102;
  font-size: 2rem;
}

#courses #card-scroll {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#card-scroll .card {
  width: 100px;
  height: 400px;
  border: solid black 1px;
  overflow: hidden;
  border-radius: 10px;
  transition: all linear 0.6s;
  cursor: pointer;
  position: relative;
}

#card-scroll .card.active {
  width: 900px;
  height: 500px;
  transition: all linear 0.6s;
}

#card-scroll .card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000073;
}

#card-scroll .card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#card-scroll .card .description {
  position: absolute;
  height: 75px;
  bottom: 60px;
  right: 90px;
  color: #0eed3f;
  opacity: 0;
  width: 90%;
}

#card-scroll .card .description .list {
  position: absolute;
  top: -350px;
  left: -20px;
  width: 320px;
}

#card-scroll .card .description .list li {
  margin-left: 30px;
}

#card-scroll .card .description h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: -10px;
  margin-left: 400px;
}
#card-scroll .card .description .desc {
  font-size: 1.2rem;
  margin-left: 400px;
}

#card-scroll .card .description .list ul li p {
  font-size: 1.2rem;
  font-weight: 600;
}

#card-scroll .card.active .description {
  opacity: 1;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#contact .mail,
#contact .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact p {
  font-size: 1.2rem;
}

footer {
  background: #06acff;
  height: 75px;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.account-modal {
  position: fixed;
  top: 50px;
  left: 25vw;
  display: none;
  padding: 20px 40px;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  background: #bdbdbd00;
  box-shadow: 0 0 15px 5px #004364;
  border-radius: 10px;
  backdrop-filter: blur(20px);
}

.account-modal.active {
  display: flex;
  flex-direction: column;
}

.account-modal #login {
  display: none;
}
.account-modal #signup {
  display: none;
}

.account-modal #login.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.account-modal #signup.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.account-modal #login.active form .submit input{
  display: flex;
}

.account-modal #signup h1,
.account-modal #login h1 {
  color: #ff9102;
}

.account-modal #signup p a,
.account-modal #login p a {
  text-decoration: underline;
  color: #ff9100;
  letter-spacing: 1px;
}

.account-modal #signup {
  width: 765px;
  height: 800px;
}

.account-modal #signup form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  gap: 20px;
  grid-template-areas:
    "grid1 grid2"
    "grid3 grid3";
}

.account-modal #signup form .basic-info {
  grid-area: grid1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.account-modal #signup form .login-info {
  grid-area: grid2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.account-modal #signup form .basic-info input,
.account-modal #signup form .login-info input {
  width: 90%;
  height: 2rem;
  padding: 2px 0 2px 9px;
  color: #ff9102;
  background: #bdbdbd00;
  border: none;
  border-bottom: 1px solid #ff9102;
  transition: 0.3s ease;
}

.account-modal #signup form .basic-info input::placeholder,
.account-modal #signup form .login-info input::placeholder {
  color: #8b4f00;
  letter-spacing: 2px;
}

.account-modal #signup form .basic-info input:focus,
.account-modal #signup form .login-info input:focus {
  border-bottom: 3px solid #ff9102;
  outline: 1px #ff9102 dashed;
}
.account-modal #login form .userInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.account-modal #login form .userInput input {
  width: 90%;
  height: 4rem;
  padding: 2px 0 2px 9px;
  color: #ff9102;
  background: #bdbdbd00;
  border: none;
  border-bottom: 1px solid #ff9102;
  transition: 0.5s ease;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.account-modal #login form input::placeholder {
  color: #8b4f00;
  letter-spacing: 2px;
}

.account-modal #login form input:focus {
  border-bottom: 3px solid #ff9102;
}

.account-modal #signup form .basic-info select {
  width: 90%;
  height: 2.5rem;
  padding: 2px 9px;
  border: none;
  border-bottom: 1px solid #ff9102;
  background: #00000000;
  color: #8b4f00;
  letter-spacing: 2px;
}

.account-modal #signup form .submit {
  grid-area: grid3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.account-modal #signup form .submit input {
  width: 80%;
  height: 2rem;
  border: 0px #ff9102;
  border-radius: 20px;
  background: none;
  border-bottom: 1px solid #ff9102;
  font-family: "Outfit", sans-serif;
  letter-spacing: 3px;
  transition: all 0.5s ease;
}

.account-modal #login form .submit {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.account-modal #login form .submit input {
  width: 80%;
  height: 100%;
  border: 0px #ff9102;
  border-radius: 30px;
  background: none;
  border-bottom: 1px solid #ff9102;
  font-family: "Outfit", sans-serif;
  letter-spacing: 3px;
  transition: all 0.5s ease;
}

.account-modal #signup form .submit input:hover,
.account-modal #login form .submit input:hover {
  font-weight: 600;
  box-shadow: 2px 2px 2px 0 #553000, -2px 2px 2px 0 #553000,
    inset 0 1px 0 0 #ff9100;
}

.account-modal #login.active {
  width: 765px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account-modal #login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
  width: 90%;
}

.account-modal #login.active .close,
.account-modal #signup.active .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  border: #ff9102 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
}
