@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html {
  font-family: "Outfit", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
  grid-template-rows: 1fr 0.05fr;
  grid-template-areas:
    "nav main"
    "nav footer";
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background: #06acff;
}

nav {
  background: #06acff;
  grid-area: nav;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1px;
  gap: 5em;
}

nav .logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

nav .logo img {
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 100%;
}

nav #student-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav #student-profile img {
  width: 80px;
  height: 80px;
  background: #000;
  border-radius: 100%;
}

#navigation ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

#navigation ul li {
  list-style: none;
}

#navigation ul li a {
  text-decoration: none;
  padding: 9px 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  position: relative;
}

#navigation ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ff9102;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#navigation ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#navigation ul li a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  background: #696969;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-areas: 
  "main catalog";
  gap: 35px;
}

#dashboard{
  display: none;
}

#dashboard.active{
  display: flex;
  width: 100%;
  height: 100%;
}

#main-section{
  grid-area: main;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 880px;
}

.container{
  width: 96%;
  height: max-content;
  margin: 10px;
}

.tab-pane{
  display: flex;
  gap: 10px;
  width: 100%;
  height: max-content;
  padding: 20px 20px 5px;
  background: white;
  border-radius: 10px 10px 0 0;
}

.tab-pane .tab{
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.2rem;
}

.tab-pane .tab:hover{
  color: #ff9102;
}

.tab-pane .tab.active{
  text-decoration: underline;
  color: #ff9102;
  transform: translateY(-2px);
}

.tab-content.active{
  width: 100%;
  padding: 20px;
  background: grey;
  height: max-content;
  flex-direction: column;
  height: 3000px;
}

.tab-content p{
  font-size: 1.4rem;
  font-weight: 600;
  color: #ff9102;
}

table{
  font-size: 1.3rem;
}

thead tr th{
  color: #ff9102;
}

th, td{
  text-align: center;
}

tbody tr:nth-child(even){
  background-color: #4929008a
}
tbody tr:nth-child(odd){
  background-color: #b164009f
}

#tab1{
  display: none;
}
#tab1.active{
  display: flex;
}

#tab2{
  display: none;
}
#tab2.active{
  display: flex;
}

#catalog{
  grid-area: catalog;
  display: flex;
  justify-content: center;
  width: 90%;
  padding-left: 20px;
  position: relative;
}

#news{
  display: none;
}
#news.active{
  display: flex;
  background: #ffffff;
  width: 100%;
  height: 100%;
}

#courses{
  display: none;
}
#courses.active{
  display: flex;
  background: #ff0000;
  width: 100%;
  height: 100%;
}

#trainers{
  display: none;
}
#trainers.active{
  display: flex;
  background: #000;
  width: 100%;
  height: 100%;
}

footer {
  background: #06acff;
  grid-area: footer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  right: 0;
}

#calendar-header{
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #0eed3f;
  justify-content: space-evenly;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  gap: 10px 0;
  width: 140px;
}

.day{
  text-align: center;
  font-size: 18px;
  width: 20px;
  height: 20px;
}

.holiday{
  color: rgb(255, 217, 0);
}
.sunday{
  color: #ff2222;
}

.day.today {
    border: 2px solid #0eed3f;
    background-color: #06acff;
    color: #ff9102;
    border-radius: 5px;
}